html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
	color: #444444;
}

h6 a {
	color: #16505B;
	font-size: 1rem;
}

h6 a:hover {
	color: #0D9DA4;
}

a {
	color: #16505B;
	font-size: 1.2rem;
	font-weight: bold;
}

a:hover {
	color: #0D9DA4;
	text-decoration: none;
}

p {
	font-size: 1.4rem;
	font-weight: 300;
}

body {
  background: #ffffff;
}

.container {
	max-width: 1200px;
}

img {
	max-width: 100%;
}


#backToTopBtn {
	background: none;
	border: 0;
	outline: none;
	color: #16505B;
	font-weight: bold;
}

@media screen and (min-width: 400px) {
  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

@media screen and (min-width: 1441px) {
	.container {
		max-width: 1440px;
	}
}
